{% load static %}
  <html>
    <body>
      <form  method="POST" action = "update/{{id}}" >
        <table>
        {% csrf_token %}
          <br>
                <h1> update  :</h1>
                  <br>
                  name : <input type="text" name="update_name" value="{{employee.Name}}"></li><br>
                  email :<input type="text" name="update_email" value="{{employee.Email}}"></li><br>
                  company :<input type="text" name="update_company" value="{{employee.Company}}"></li>
                 
                            <br><br>
                                    <input type="submit" name="submit" value="submit" class="submit">
            </div>
       </form>
    </body>
  </html>
